@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Work Sans'Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1 {
    font: italic bolder 3em  'work Sans', sans-serif;
}

h2 {
    font: bold 2em 'work Sans', sans-serif;
}
/* shorthand font
- font-style -> font-weight -> font-size -> font-family*/

/*
Medidas Absolutas: 

	cm, mm, in, px, pt, pc

Medidas Relativas:
            
	em	->	relativo ao tamanho natural da fonte
	ex	->	relativo a altura x da fonte
	rem	->	tipo em, mas relativo a fonte configurada no body
	vw	->	relativo a largura da view port
	vh	->	relativo a altura da view port
	%	->	porcentagem

Recomendação w3c:  "px" ou "em"

Altura padrão:  16px ou 1em
*/