@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #514BF2, #8B88F2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(13, 14, 38, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #081C59;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(13, 14, 38, 0.616);
}

h2 {
    color: #1C1973;
}

p {
    text-align: justify;
}